body{
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(15, 49, 46);
    color: rgb(248, 239, 239);
    text-align: center;
    border: 40px solid rgb(48, 185, 172);
    border-top: 0px;
    margin: 0px;
}

p{
    padding-top: 5%;
    padding-left: 20%;
    padding-right: 20%;
}

form{
    font-size: 1.5em;
    margin-bottom: 10px;
}

.list1{
    text-align: center;
    list-style-position: inside;
}

ol.list1 li
{
 text-align: center;
}

#sub{
    background-color: rgb(211, 188, 61);
    height: 50px;
    width: 200px;
    margin: 4px;
    margin-top: 20px;
    font-size: 1.2em;
    border-radius: 20px;
}