<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title> Website </title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" 
        integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" 
        crossorigin="anonymous">
    </head>

    <body>
        <div class="container">
            <div class='jumbotron'>  
                <h1> Welcome to Signup page! </h1>

                <p> This is the signup page for alpha users. </p>
            </div>

            <p> This only takes a minute. Please provide your Name and email. Click on the link below. </p>

            <!-- link to sign up page.  -->
            <div class="btn btn-primary"> 
                <!-- <a href="user_signup">
                    <font color="white">  Sign up page !! </font> 
                </a> -->

                <a href="user_signup">
                    <font color="white">  Sign up page !! </font> 
                </a>


            </div>

        </div>

    </body>

</html>