<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title> Website </title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" 
        integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" 
        crossorigin="anonymous">
    </head>

    <body>
        
        <div class="container">
            <div class='jumbotron'>  
                Thank you for signing up. You will be hearing from us soon.
            </div>
        </div>

    </body>

</html>